chromadb
google-auth
google-genai
huggingface_hub
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-instrumentation
llama-index-llms-openai
llama-index-llms-openai-like
llama-index-llms-openrouter
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-chroma
llama-index-workflows
llama-parse
nest-asyncio
openai
pandas
pypdf
python-dotenv
requests
streamlit
tabulate
uvicorn
yarl
yfinance